.better-timeinput {
    width: 4em;
    text-align: center;
}

.better-timeinput-meridian {
    width: 3em;
    position: relative;
    display: inline-block;
}

.better-timeinput-meridian:after {
    content: "\25BE";
    position: absolute;
    right: 0;
}

.better-timeinput-meridian > span {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.better-timeinput-meridian > select {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    z-index: 1;
}

/* just copied default focus indication from Chrome */
.better-timeinput-meridian > select:focus + span {
    outline: -webkit-focus-ring-color auto 5px;
    outline-offset: -2px;
}
